html {
  //scrollbar-gutter: auto; //??
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(20, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black);
  background-color: var(--color-rose);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-red);
  font-family: var(--font-family-title);
  font-weight: 800;
}

h1, .h1 {
  @include fluid-text(48, 24);
}

h2, .h2 {
  @include fluid-text(36, 20);
}

h3, .h3 {
  @include fluid-text(32, 18);
}

h4, .h4 {
  @include fluid-text(24, 16);
}

h5, .h5 {
  @include fluid-text(20, 14);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration)!important;
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red);
  }

  //?????
  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}