:root {
  --color-white: #F5F5F5;
  --color-rose: #ECE3E8;
  --color-black: #181C23;
  --color-brown: #A4755C;
  --color-red: #8C2526;
  --color-dark-red: #64282A;

  --btn-border-radius: 7px;

  --font-family-base: 'Inter', sans-serif;
  --font-family-title: 'Manrope', sans-serif;
  --font-family-logo: 'Riverstyle', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
   )};

  //--container-width: 1140px;

  --cotainer-padding-x: 16px;

  --section-padding-y: #{fluid(80, 40)};

  --transition-duration: .3s;
  --transition-duration-longer: .5s;
}